@import './fonts.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  /* updates in +layout.svelte */
  --scrollbar-width: 0px;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Dosis', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Prevent body scrolling when menu is open */
body:has(.show-menu.overflowing) {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

body:has(.show-menu.overflowing) #toggle_menu {
  right: var(--scrollbar-width);
}

body:has(.show-menu) .menu > div > div {
  padding-right: var(--scrollbar-width);
}

@layer base {
  /* Typography */
  h1 {
    @apply text-4xl font-normal;
    @apply mb-4;
  }
  h2 {
    @apply text-3xl font-normal;
    @apply mb-4;
  }
  h3 {
    @apply text-2xl font-normal;
    @apply mb-2;
  }
  h4 {
    @apply text-xl font-normal;
  }
  h5 {
    @apply text-lg font-normal;
  }
  h6 {
    @apply text-lg font-normal;
  }

  blockquote {
    @apply text-2xl font-light leading-snug md:text-3xl md:leading-snug;
  }

  p,
  a {
    @apply text-lg font-extralight leading-normal md:text-xl xl:text-2xl;
  }

  a {
    @apply text-black/70 underline decoration-black/50 decoration-1 underline-offset-4 transition active:decoration-transparent hoverable:hover:decoration-transparent;
  }

  footer a {
    @apply text-base text-white underline decoration-transparent decoration-1 underline-offset-4 transition-all duration-300 hoverable:hover:decoration-white/60 hoverable:hover:opacity-80 md:whitespace-nowrap;
  }
}

@layer utilities {
  .logo-shadow {
    filter: drop-shadow(-4px 8px 8px theme('colors.black / 0.25'));
  }
  .btn-shadow {
    filter: drop-shadow(0 3px 6px theme('colors.black / 0.25'));
    @apply transition;
    transition-timing-function: ease-in-out;
  }
  .btn-shadow-hover {
    filter: drop-shadow(0 3px 6px theme('colors.black / 0.4'));
  }
  .menu-shadow {
    filter: drop-shadow(0 3px 6px theme('colors.white / 0.4')) drop-shadow(0 6px 12px theme('colors.white / 0.4'))
      drop-shadow(0 12px 24px theme('colors.white / 0.4'));
  }
  .menu-shadow:hover {
    filter: drop-shadow(0 3px 6px theme('colors.white / 0.3')) drop-shadow(0 6px 12px theme('colors.white / 0.3'))
      drop-shadow(0 12px 24px theme('colors.white / 0.3'));
  }
  .content-wrapper {
    @apply w-full max-w-screen-xl;
  }
  .content-section {
    @apply flex flex-col gap-4 px-4 py-12 md:flex-row md:items-start md:py-20 lg:gap-8;
  }
  .left-col {
    @apply md:w-52 md:flex-shrink-0 md:text-right lg:w-64;
  }
}
