.font-dosis {
  font-family: 'Dosis', sans-serif;
}
.font-exo2 {
  font-family: 'Exo 2', sans-serif;
}
.font-nunito-sans {
  font-family: 'Nunito Sans', sans-serif;
}
.font-poppins {
  font-family: 'Poppins', sans-serif;
}
.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}
.font-rubik {
  font-family: 'Rubik', sans-serif;
}
.font-dm-sans {
  font-family: 'DM Sans', sans-serif;
}
.font-didact-gothic {
  font-family: 'Didact Gothic', sans-serif;
}
.font-josefin-sans {
  font-family: 'Josefin Sans', sans-serif;
}
.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}
